* {
    box-sizing: border-box;
}
body {
    font-size: small;
    font-family: arial, sans-serif;
    color: #222;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
}

li {
    display: inline-block;
    color: gray;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
}

#right-header {
    position: fixed;
    top: 0;
    right: 0;
}

#app-icon {
    font-size: small;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 150px auto;
}

#search-icon {
    position: absolute;
    z-index: -1;
    padding: 10px;
}

#logo, #search-bar, #buttons {
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    margin: 20px;
    padding: 10px;
}

#search-bar {
    border: 1px solid gray;
    border-radius: 16px;
    width: 400px;
    height: 30px; 
    background-color: transparent;  
}

footer {
    background-color: rgb(242, 242, 242);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer ul {
    border-top-style: solid;
    border-width: 0.5px;
    border-color: rgba(185, 185, 185, 0.7);  
}

#right-footer {
    position: fixed;
    right: 0;
}